.app.dark {
  --bg-color: #000000;
  --invert-bg-color: #ffffff;
  --primary-color: #ff0000;
  --secondary-color: #00ff00;
  --invert-primary-color: #0000ff;
  --invert-secondary-color: #0000ff;
  --primary-text-color: #ffffff;
}