.app.light {
  --bg-color: #f5f5f5;
  --invert-bg-color: #333333;
  --primary-color: #ff0000;
  --secondary-color: #00ff00;
  --invert-primary-color: #0000ff;
  --invert-secondary-color: #ffff00;
  --primary-text-color: #000000;
}